.wrapper {
    width: 500px;
    margin: 150px auto;
    font-family: arial;
    position: relative;
    overflow: hidden;
    &:hover {
        img {
            transform: scale(1.09);
        }
        .icons {
            bottom: 0;
        }
        .content {
            top: 0;
        }
    }
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: all 0.5s;
    }
    .content {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: -100%;
        left: 0;
        text-align: justify;
        box-sizing: border-box;
        color: white;
        height: 100%;
        transition: all 0.5s;
        h3 {
            text-align: center;
            border-bottom: 1px solid #808080;
            font-size: 25px;
            padding: 0 10px 20px 10px;
        }
        p {
            padding: 0 20px 15px 20px;
            border-bottom: 1px solid #808080;
        }
    }
    .icons {
        background: transparent;
        color: white;
        font-size: 25px;
        padding: 0 0 10px 130px;
        position: absolute;
        cursor: pointer;
        bottom: -100%;
        transition: all 0.5s;
        i {
            margin: 0 10px;
            transition: all 0.5s;
            &:hover {
                color: violet;
            }
        }
    }
}
